<h1><%=h @post.title %></h1>
<p><%=h @post.body %></p>
<br>

<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">Stats and Stuff</h2>
  </div>
  <div class="panel-body">
    <p> Word Count: <%=h @post.body.scan(/\w+/).size %> </p>
    <p> Average Word Length: <%=h avgLength(@post.body) %></p>
    <p> Most Common Word: </p>
  </div>
</div>

<a href="/posts/<%= @post.id %>">Back to Post</a>